<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Iniciar sesión | EduFind</title>
	<!-- core:css -->
	<link rel="stylesheet" href="/vendors/core/core.css" type="text/css">
	<!-- endinject -->
	<!-- plugin css for this page -->
	<link rel="stylesheet" href="/vendors/sweetalert2/sweetalert2.min.css">
	<!-- end plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/fonts/feather-font/css/iconfont.css" type="text/css">
	<link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css" type="text/css">
	<!-- endinject -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="/css/demo_5/style.css" type="text/css">
	<!-- End layout styles -->
	<link rel="shortcut icon" href="/images/favicon.png" />
</head>

<body>
	<div class="main-wrapper">
		<div class="page-wrapper full-page">
			<div class="page-content d-flex align-items-center justify-content-center">

				<div class="row w-100 mx-0 auth-page">
					<div class="col-md-8 col-xl-6 mx-auto">
						<div class="card">
							<div class="row">
								<div class="col-md-4 pr-md-0">
									<div class="auth-left-wrapper">
									</div>
								</div>
								<div class="col-md-8 pl-md-0">
									<div class="auth-form-wrapper px-4 py-5">
										<a href="#" class="noble-ui-logo d-block mb-2">Edu<span>Find</span></a>
										<h5 class="text-muted font-weight-normal mb-4">
											¡Bienvenido de nuevo! Ingrese a su cuenta</h5>
										<form class="forms-sample" method="post" th:action="@{/login}">
											<div class="form-group">
												<label for="inputCorreoLogin">Correo electrónico</label>
												<input type="email" class="form-control" id="inputCorreoLogin"
													placeholder="Correo electrónico" name="username">
											</div>
											<div class="form-group">
												<div class="d-flex justify-content-between">
													<label for="inputContrasenaLogin">Contraseña</label>
													<a href="/recuperar" class="text-primary font-weight-bold">Olvidé mi contraseña</a>
												</div>
												<input type="password" class="form-control" id="inputContrasenaLogin"
													autocomplete="current-password" placeholder="Contraseña" name="password">
											</div>
											
											<div class="error mt-2 text-danger" th:if="${param.error}">
												Usuario y/o contraseña incorrectos.
											</div>

											<div class="mt-3">
												<button id="btnLogin" type="submit"
													class="btn btn-primary mr-2 mb-2 mb-md-0 text-white">Iniciar sesión</button>
											</div>
											<p class="d-block mt-4 text-muted">
												¿Aún no tienes una cuenta? 
												<a href="/registro" class="text-primary font-weight-bold">Regístrate</a>
											</p>
											
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- core:js -->
	<script src="/vendors/core/core.js"></script>
	<!-- endinject -->
	<!-- plugin js for this page -->
	<script src="/vendors/sweetalert2/sweetalert2.min.js"></script>
	<!-- end plugin js for this page -->
	<!-- inject:js -->
	<script src="/vendors/feather-icons/feather.min.js"></script>
	<script src="/js/template.js"></script>
	<!-- endinject -->
	<!-- custom js for this page -->
	<!-- end custom js for this page -->
	
	<script th:inline="javascript">	
		$(function() {
			var notification = /*[[${notification}]]*/
			
			'use strict'
			
			if (notification === 'Registro exitoso') {
				Swal.fire({
				  position: 'center',
				  icon: 'success',
				  title: notification,
				  showConfirmButton: false,
				  timer: 1500
				})
			} else if (notification === 'Te acabamos de enviar un correo con las instrucciones para restablecer tu contraseña.') {
				Swal.fire({
				  icon: 'success',
				  text: notification
				})
			} else if (notification === 'Cambio de contraseña exitoso.') {
				Swal.fire({
				  position: 'center',
				  icon: 'success',
				  title: notification,
				  showConfirmButton: false,
				  timer: 1500
				})
			}
			
		})
	</script>
</body>

</html>